@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Noto+Sans+JP&display=swap');

.Info{
  line-height: 0px;
  text-align: center;


  /* background-color: aliceblue; */

  /* display: inline-block;
  vertical-align: middle; */

  
}
.Info p{
  position: relative;
  top: 100px;
}

.Info .title{
  font-family: 'Dela Gothic One', cursive;
  font-size: 100px;
}
.Info img{
  position: relative;
  bottom: 200px
}
.Info .desc{



  position: relative;
  bottom: 120px;

  display: flex;
  justify-content: space-around;
  align-items:center;

}
.Info .desc span{
  font-size: 60px;
}
